@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header__wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}
.nav__link {
  margin-right: 35px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 22px;
  position: relative;
}
.nav__link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.nav__link:last-child {
  margin-right: 0px;
}
.nav .nav__link.active:after {
  opacity: 1;
}
.nav .nav__link:hover::after {
  opacity: 1;
}

.header {
  background-color: #000;
}
.header__block {
  width: 20%;
}
.header__lng {
  display: flex;
  justify-content: flex-end;
}
.header__lng-link {
  margin-right: 8px;
  line-height: 22.5px;
  font-weight: 600;
  text-transform: uppercase;
  color: #B7B7B7;
}
.header__lng-link:last-child {
  margin-right: 0px;
}

.active {
  color: #fff;
}