@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header__wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}
.nav__link {
  margin-right: 35px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 22px;
  position: relative;
}
.nav__link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.nav__link:last-child {
  margin-right: 0px;
}
.nav .nav__link.active:after {
  opacity: 1;
}
.nav .nav__link:hover::after {
  opacity: 1;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.header__block {
  width: 20%;
}
.header__logo {
  display: inline-block;
}
.header__logo img {
  height: 65px;
}
.header__lng {
  display: flex;
  justify-content: flex-end;
}
.header__lng-link {
  margin-right: 8px;
  line-height: 22.5px;
  font-weight: 600;
  text-transform: uppercase;
  color: #B7B7B7;
  transition: color 0.2s ease;
}
.header__lng-link:hover {
  color: #fff;
}
.header__lng-link:last-child {
  margin-right: 0px;
}

.active {
  color: #fff;
}

.intro {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.2;
  content: "";
}

.intro__content {
  height: 700px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.intro__block {
  max-width: 790px;
}

.intro__title {
  margin-bottom: 53px;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: #fff;
}

.btn {
  min-width: 200px;
  height: 50px;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background-color: #DB2512;
}

.btn:hover {
  background-color: #5f140c;
  transition: background-color 0.3s ease;
}

.section {
  margin-bottom: 100px;
}

.wrapper {
  display: flex;
  margin: 0 -10px;
}

.block {
  width: 33.33%;
  padding: 0 10px;
}

.info {
  transform: translateY(-50%);
}
.info__item {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  padding: 35px 40px;
}
.info__img {
  margin-bottom: 20px;
}
.info__img img {
  height: 30px;
}
.info__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.info__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #B7B7B7;
}

.services__title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.15em;
}
.services__link {
  margin-bottom: 60px;
  display: inline-block;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.15em;
}
.services__link:hover {
  text-decoration: none;
}
.services__content {
  margin-bottom: 20px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.services__content:hover {
  box-shadow: 5px 5px #DB2512;
}
.services__content-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.services__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #000000;
}

.about {
  background-color: #171616;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 115px 15px;
}
.about__column-left {
  max-width: 490px;
}
.about__title {
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about__text {
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.23em;
  color: #B7B7B7;
}
.about__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.15em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about__column-right {
  display: flex;
  align-items: center;
}
.about__img {
  max-width: 513px;
  max-height: 342px;
}