@import "nullstyle.scss";


body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.header__wrapper{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;

    &__link {
        margin-right: 35px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 22px;
        position: relative;
    }

    &__link::after{
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        transition: opacity .2s ease;
    }

    &__link:last-child {
        margin-right: 0px;
    }

.nav__link.active:after{
    opacity: 1;
}
.nav__link:hover::after{
    opacity: 1;
}

}
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    &__block {
        width: 20%;
    }

    &__lng {
        display: flex;
        justify-content: flex-end; 
    }

    &__lng-link {
        margin-right: 8px;
        line-height: 22.5px;
        font-weight: 600;
        text-transform: uppercase;
        color: #B7B7B7;
    }

    &__lng-link:last-child{
        margin-right: 0px;
    }
}
.active {
    color: #fff;
}

// HEADER IS DONE__________________________

.intro{
    background: url('../img/intro_bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

.intro::after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
    content: '';
}

.intro__content{
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.intro__block{
    max-width: 790px;
}

.intro__title{
    margin-bottom: 53px;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    color: #fff;
}

.btn{
    min-width: 200px;
    height: 50px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-color: #DB2512;
}

.btn:hover{
    background-color: #5f140c;
    transition: background-color .3s ease;
}